# Homework 10: `SQL`

## Due Date:  Thursday, November 16th at 11:59 PM

You will create a database of the NASA polynomial coefficients for each specie.

**Please turn in your database with your `Jupyter` notebook!**

# Question 1: Convert XML to a SQL database

Create two tables named `LOW` and `HIGH`, each corresponding to data given for the low and high temperature range.
Each should have the following column names:

- `SPECIES_NAME`
- `TLOW`
- `THIGH`
- `COEFF_1`
- `COEFF_2`
- `COEFF_3`
- `COEFF_4`
- `COEFF_5`
- `COEFF_6`
- `COEFF_7`

Populate the tables using the XML file you created in last assignment. If you did not complete the last assignment, you may also use the `example_thermo.xml` file.

`TLOW` should refer to the temperature at the low range and `THIGH` should refer to the temperature at the high range.  For example, in the `LOW` table, $H$ would have `TLOW` at $200$ and `THIGH` at $1000$ and in the `HIGH` table, $H$ would have `TLOW` at $1000$ and `THIGH` at $3500$.

For both tables, `COEFF_1` through `COEFF_7` should be populated with the corresponding coefficients for the low temperature data and high temperature data.

In [1]:
import xml.etree.ElementTree as ET
import sqlite3
import pandas as pd
from IPython.core.display import display

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

# Create and connect to database
db = sqlite3.connect('NASA_coef_all.sqlite')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS LOW")
cursor.execute("DROP TABLE IF EXISTS HIGH")
cursor.execute("PRAGMA foreign_keys=1")

# Create the table for low temperature range
cursor.execute('''CREATE TABLE LOW (
               id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
               SPECIES_NAME TEXT,
               TLOW REAL, 
               THIGH REAL, 
               COEFF_1 REAL, 
               COEFF_2 REAL,
               COEFF_3 REAL,
               COEFF_4 REAL,
               COEFF_5 REAL,
               COEFF_6 REAL,
               COEFF_7 REAL)''')

db.commit()

# Create the table for high temperature range
cursor.execute('''CREATE TABLE HIGH (
               id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
               SPECIES_NAME TEXT,
               TLOW REAL, 
               THIGH REAL, 
               COEFF_1 REAL, 
               COEFF_2 REAL,
               COEFF_3 REAL,
               COEFF_4 REAL,
               COEFF_5 REAL,
               COEFF_6 REAL,
               COEFF_7 REAL)''')
db.commit()

# The given helper function (from L18) to visualize tables
def viz_tables(cols, query):
    q = cursor.execute(query).fetchall()
    framelist = []
    for i, col_name in enumerate(cols):
        framelist.append((col_name, [col[i] for col in q]))
    return pd.DataFrame.from_items(framelist)

In [2]:
tree = ET.parse('thermo_all.xml')

species_data = tree.find('speciesData')
species_list = species_data.findall('species') # a list of all species

for species in species_list:
    name = species.get('name')
    NASA_list = species.find('thermo').findall('NASA')
    for NASA in NASA_list:
        T_min = float(NASA.get('Tmin'))
        T_max = float(NASA.get('Tmax'))
        coefs = NASA.find('floatArray').text.split(',')
        vals_to_insert = (name, T_min, T_max, float(coefs[0].strip()), float(coefs[1].strip()), 
                          float(coefs[2].strip()), float(coefs[3].strip()), float(coefs[4].strip()), 
                          float(coefs[5].strip()), float(coefs[6].strip())) 

        if T_max > 1000: # high range temperature
            cursor.execute('''INSERT INTO HIGH 
                  (SPECIES_NAME, TLOW, THIGH, COEFF_1, COEFF_2, COEFF_3, COEFF_4, COEFF_5, COEFF_6, COEFF_7)
                  VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', vals_to_insert)
        
        else: # low range temperature
            cursor.execute('''INSERT INTO LOW 
                  (SPECIES_NAME, TLOW, THIGH, COEFF_1, COEFF_2, COEFF_3, COEFF_4, COEFF_5, COEFF_6, COEFF_7)
                  VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', vals_to_insert)

In [3]:
LOW_cols = [col[1] for col in cursor.execute("PRAGMA table_info(LOW)")]
display(viz_tables(LOW_cols, '''SELECT * FROM LOW'''))

    id SPECIES_NAME   TLOW   THIGH   COEFF_1       COEFF_2       COEFF_3       COEFF_4       COEFF_5       COEFF_6    COEFF_7
0    1            O  200.0  1000.0  3.168267 -3.279319e-03  6.643064e-06 -6.128066e-09  2.112660e-12  29122.259200   2.051933
1    2           O2  200.0  1000.0  3.782456 -2.996734e-03  9.847302e-06 -9.681295e-09  3.243728e-12  -1063.943560   3.657676
2    3            H  200.0  1000.0  2.500000  7.053328e-13 -1.995920e-15  2.300816e-18 -9.277323e-22  25473.659900  -0.446683
3    4           H2  200.0  1000.0  2.344331  7.980521e-03 -1.947815e-05  2.015721e-08 -7.376118e-12   -917.935173   0.683010
4    5           OH  200.0  1000.0  3.992015 -2.401318e-03  4.617938e-06 -3.881133e-09  1.364115e-12   3615.080560  -0.103925
5    6          H2O  200.0  1000.0  4.198641 -2.036434e-03  6.520402e-06 -5.487971e-09  1.771978e-12 -30293.726700  -0.849032
6    7          HO2  200.0  1000.0  4.301798 -4.749121e-03  2.115829e-05 -2.427639e-08  9.292251e-12    294.808040   3.716662
7    8         H2O2  200.0  1000.0  4.276113 -5.428224e-04  1.673357e-05 -2.157708e-08  8.624544e-12 -17702.582100   3.435051
8    9            C  200.0  1000.0  2.554240 -3.215377e-04  7.337922e-07 -7.322349e-10  2.665214e-13  85443.883200   4.531308
9   10           CH  200.0  1000.0  3.489817  3.238355e-04 -1.688991e-06  3.162173e-09 -1.406091e-12  70797.293400   2.084011
10  11          CH2  200.0  1000.0  3.762679  9.688721e-04  2.794898e-06 -3.850912e-09  1.687417e-12  46004.040100   1.562532
11  12       CH2(S)  200.0  1000.0  4.198604 -2.366614e-03  8.232962e-06 -6.688160e-09  1.943147e-12  50496.816300  -0.769119
12  13          CH3  200.0  1000.0  3.673590  2.010952e-03  5.730219e-06 -6.871174e-09  2.543857e-12  16444.998800   1.604564
13  14          CH4  200.0  1000.0  5.149876 -1.367098e-02  4.918006e-05 -4.847430e-08  1.666940e-11 -10246.647600  -4.641304
14  15           CO  200.0  1000.0  3.579533 -6.103537e-04  1.016814e-06  9.070059e-10 -9.044245e-13 -14344.086000   3.508409
15  16          CO2  200.0  1000.0  2.356774  8.984597e-03 -7.123563e-06  2.459190e-09 -1.436995e-13 -48371.969700   9.901052
16  17          HCO  200.0  1000.0  4.221186 -3.243925e-03  1.377994e-05 -1.331441e-08  4.337689e-12   3839.564960   3.394372
17  18         CH2O  200.0  1000.0  4.793723 -9.908334e-03  3.732200e-05 -3.792853e-08  1.317727e-11 -14308.956700   0.602813
18  19        CH2OH  200.0  1000.0  3.863889  5.596723e-03  5.932718e-06 -1.045320e-08  4.369673e-12  -3193.913670   5.473022
19  20         CH3O  300.0  1000.0  2.106204  7.216595e-03  5.338472e-06 -7.377636e-09  2.075610e-12    978.601100  13.152177
20  21        CH3OH  200.0  1000.0  5.715396 -1.523091e-02  6.524412e-05 -7.108069e-08  2.613527e-11 -25642.765600  -1.504098
21  22          C2H  200.0  1000.0  2.889657  1.340996e-02 -2.847695e-05  2.947910e-08 -1.093315e-11  66839.393200   6.222964
22  23         C2H2  200.0  1000.0  0.808681  2.336156e-02 -3.551718e-05  2.801524e-08 -8.500730e-12  26428.980700  13.939705
23  24         C2H3  200.0  1000.0  3.212466  1.514792e-03  2.592094e-05 -3.576578e-08  1.471509e-11  34859.846800   8.510540
24  25         C2H4  200.0  1000.0  3.959201 -7.570522e-03  5.709903e-05 -6.915888e-08  2.698844e-11   5089.775930   4.097331
25  26         C2H5  200.0  1000.0  4.306466 -4.186589e-03  4.971428e-05 -5.991266e-08  2.305090e-11  12841.626500   4.707209
26  27         C2H6  200.0  1000.0  4.291425 -5.501543e-03  5.994383e-05 -7.084663e-08  2.686858e-11 -11522.205500   2.666823
27  28        CH2CO  200.0  1000.0  2.135836  1.811887e-02 -1.739475e-05  9.343976e-09 -2.014576e-12  -7042.918040  12.215648
28  29         HCCO  300.0  1000.0  2.251721  1.765502e-02 -2.372910e-05  1.727576e-08 -5.066481e-12  20059.449000  12.490417
29  30        HCCOH  300.0  1000.0  1.242373  3.107220e-02 -5.086686e-05  4.313713e-08 -1.401459e-11   8031.614300  13.874319
30  31         H2CN  300.0  1000.0  2.851661  5.695233e-03  1.071140e-06 -1.622612e-09 -2.351108e-13  28637.820000   8.992751
31  32          HCN  200.0  1000.0  2.258989  1.005117e-02 -1.335176e-05  1.009235e-08 -3.008903e-12  14712.633000   8.916442
32  33          HNO  200.0  1000.0  4.533492 -5.669617e-03  1.847321e-05 -1.713709e-08  5.545457e-12  11548.297000   1.749842
33  34            N  200.0  1000.0  2.500000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  56104.637000   4.193909
34  35          NNH  200.0  1000.0  4.344693 -4.849707e-03  2.005946e-05 -2.172646e-08  7.946954e-12  28791.973000   2.977941
35  36          N2O  200.0  1000.0  2.257150  1.130473e-02 -1.367132e-05  9.681981e-09 -2.930718e-12   8741.774400  10.757992
36  37           NH  200.0  1000.0  3.492908  3.117920e-04 -1.489048e-06  2.481644e-09 -1.035697e-12  41880.629000   1.848328
37  38          NH2  200.0  1000.0  4.204003 -2.106139e-03  7.106835e-06 -5.611520e-09  1.644072e-12  21885.910000  -0.141842
38  39          NH3  200.0  1000.0  4.286027 -4.660523e-03  2.171851e-05 -2.280889e-08  8.263805e-12  -6741.728500  -0.625373
39  40           NO  200.0  1000.0  4.218476 -4.638976e-03  1.104102e-05 -9.336135e-09  2.803577e-12   9844.623000   2.280846
40  41          NO2  200.0  1000.0  3.944031 -1.585429e-03  1.665781e-05 -2.047543e-08  7.835056e-12   2896.617900   6.311992
41  42          NCO  200.0  1000.0  2.826931  8.805169e-03 -8.386613e-06  4.801696e-09 -1.331360e-12  14682.477000   9.550465
42  43           CN  200.0  1000.0  3.612935 -9.555133e-04  2.144298e-06 -3.151632e-10 -4.643036e-13  51708.340000   3.980500
43  44         HCNN  300.0  1000.0  2.524319  1.596062e-02 -1.881635e-05  1.212554e-08 -3.235738e-12  54261.984000  11.675870
44  45           N2  300.0  1000.0  3.298677  1.408240e-03 -3.963222e-06  5.641515e-09 -2.444854e-12  -1020.899900   3.950372
45  46           AR  300.0  1000.0  2.500000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00   -745.375000   4.366000
46  47         C3H8  300.0  1000.0  0.933554  2.642458e-02  6.105973e-06 -2.197750e-08  9.514925e-12 -13958.520000  19.201691
47  48         C3H7  300.0  1000.0  1.051552  2.599198e-02  2.380054e-06 -1.960957e-08  9.373247e-12  10631.863000  21.122559
48  49       CH3CHO  200.0  1000.0  4.729459 -3.193286e-03  4.753492e-05 -5.745861e-08  2.193111e-11 -21572.878000   4.103016
49  50       CH2CHO  300.0  1000.0  3.409062  1.073857e-02  1.891492e-06 -7.158583e-09  2.867385e-12   1521.476600   9.558290

In [4]:
HIGH_cols = [col[1] for col in cursor.execute("PRAGMA table_info(HIGH)")]
display(viz_tables(HIGH_cols, '''SELECT * FROM HIGH'''))

    id SPECIES_NAME    TLOW   THIGH   COEFF_1       COEFF_2       COEFF_3       COEFF_4       COEFF_5       COEFF_6    COEFF_7
0    1            O  1000.0  3500.0  2.569421 -8.597411e-05  4.194846e-08 -1.001778e-11  1.228337e-15  29217.579100   4.784339
1    2           O2  1000.0  3500.0  3.282538  1.483088e-03 -7.579667e-07  2.094706e-10 -2.167178e-14  -1088.457720   5.453231
2    3            H  1000.0  3500.0  2.500000 -2.308430e-11  1.615619e-14 -4.735152e-18  4.981974e-22  25473.659900  -0.446683
3    4           H2  1000.0  3500.0  3.337279 -4.940247e-05  4.994568e-07 -1.795664e-10  2.002554e-14   -950.158922  -3.205023
4    5           OH  1000.0  3500.0  3.092888  5.484297e-04  1.265052e-07 -8.794616e-11  1.174124e-14   3858.657000   4.476696
5    6          H2O  1000.0  3500.0  3.033992  2.176918e-03 -1.640725e-07 -9.704199e-11  1.682010e-14 -30004.297100   4.966770
6    7          HO2  1000.0  3500.0  4.017211  2.239820e-03 -6.336581e-07  1.142464e-10 -1.079085e-14    111.856713   3.785102
7    8         H2O2  1000.0  3500.0  4.165003  4.908317e-03 -1.901392e-06  3.711860e-10 -2.879083e-14 -17861.787700   2.916157
8    9            C  1000.0  3500.0  2.492669  4.798893e-05 -7.243350e-08  3.742910e-11 -4.872779e-15  85451.295300   4.801504
9   10           CH  1000.0  3500.0  2.878465  9.709137e-04  1.444457e-07 -1.306878e-10  1.760794e-14  71012.436400   5.484980
10  11          CH2  1000.0  3500.0  2.874101  3.656393e-03 -1.408946e-06  2.601795e-10 -1.877276e-14  46263.604000   6.171193
11  12       CH2(S)  1000.0  3500.0  2.292038  4.655886e-03 -2.011919e-06  4.179060e-10 -3.397164e-14  50925.999700   8.626502
12  13          CH3  1000.0  3500.0  2.285718  7.239900e-03 -2.987143e-06  5.956846e-10 -4.671544e-14  16775.584300   8.480072
13  14          CH4  1000.0  3500.0  0.074851  1.339095e-02 -5.732858e-06  1.222925e-09 -1.018152e-13  -9468.344590  18.437318
14  15           CO  1000.0  3500.0  2.715186  2.062527e-03 -9.988258e-07  2.300530e-10 -2.036477e-14 -14151.872400   7.818688
15  16          CO2  1000.0  3500.0  3.857460  4.414370e-03 -2.214814e-06  5.234902e-10 -4.720842e-14 -48759.166000   2.271638
16  17          HCO  1000.0  3500.0  2.772174  4.956955e-03 -2.484456e-06  5.891618e-10 -5.335087e-14   4011.918150   9.798345
17  18         CH2O  1000.0  3500.0  1.760690  9.200001e-03 -4.422588e-06  1.006412e-09 -8.838556e-14 -13995.832300  13.656323
18  19        CH2OH  1000.0  3500.0  3.692666  8.645768e-03 -3.751011e-06  7.872346e-10 -6.485542e-14  -3242.506270   5.810432
19  20         CH3O  1000.0  3000.0  3.770799  7.871497e-03 -2.656384e-06  3.944431e-10 -2.112616e-14    127.832520   2.929575
20  21        CH3OH  1000.0  3500.0  1.789708  1.409383e-02 -6.365008e-06  1.381711e-09 -1.170602e-13 -25374.874700  14.502362
21  22          C2H  1000.0  3500.0  3.167807  4.752219e-03 -1.837871e-06  3.041903e-10 -1.772328e-14  67121.065000   6.635895
22  23         C2H2  1000.0  3500.0  4.147570  5.961667e-03 -2.372949e-06  4.674122e-10 -3.612352e-14  25935.999200  -1.230281
23  24         C2H3  1000.0  3500.0  3.016724  1.033023e-02 -4.680823e-06  1.017633e-09 -8.626070e-14  34612.873900   7.787324
24  25         C2H4  1000.0  3500.0  2.036111  1.464542e-02 -6.710779e-06  1.472229e-09 -1.257061e-13   4939.886140  10.305369
25  26         C2H5  1000.0  3500.0  1.954656  1.739727e-02 -7.982067e-06  1.752177e-09 -1.496416e-13  12857.520000  13.462434
26  27         C2H6  1000.0  3500.0  1.071881  2.168527e-02 -1.002561e-05  2.214120e-09 -1.900029e-13 -11426.393200  15.115611
27  28        CH2CO  1000.0  3500.0  4.511297  9.003597e-03 -4.169396e-06  9.233459e-10 -7.948382e-14  -7551.053110   0.632247
28  29         HCCO  1000.0  4000.0  5.628206  4.085340e-03 -1.593455e-06  2.862605e-10 -1.940783e-14  19327.215000  -3.930260
29  30        HCCOH  1000.0  5000.0  5.923829  6.792360e-03 -2.565856e-06  4.498784e-10 -2.994010e-14   7264.626000  -7.601774
30  31         H2CN  1000.0  4000.0  5.209703  2.969291e-03 -2.855589e-07 -1.635550e-10  3.043259e-14  27677.109000  -4.444478
31  32          HCN  1000.0  6000.0  3.802239  3.146423e-03 -1.063219e-06  1.661976e-10 -9.799757e-15  14407.292000   1.575460
32  33          HNO  1000.0  6000.0  2.979251  3.494406e-03 -7.854978e-07  5.747959e-11 -1.933592e-16  11750.582000   8.606373
33  34            N  1000.0  6000.0  2.415943  1.748907e-04 -1.190237e-07  3.022624e-11 -2.036098e-15  56133.773000   4.649610
34  35          NNH  1000.0  6000.0  3.766754  2.891508e-03 -1.041662e-06  1.684259e-10 -1.009190e-14  28650.697000   4.470507
35  36          N2O  1000.0  6000.0  4.823073  2.627025e-03 -9.585087e-07  1.600071e-10 -9.775230e-15   8073.404800  -2.201721
36  37           NH  1000.0  6000.0  2.783693  1.329843e-03 -4.247805e-07  7.834850e-11 -5.504447e-15  42120.848000   5.740780
37  38          NH2  1000.0  6000.0  2.834742  3.207308e-03 -9.339080e-07  1.370295e-10 -7.920614e-15  22171.957000   6.520416
38  39          NH3  1000.0  6000.0  2.634452  5.666256e-03 -1.727868e-06  2.386716e-10 -1.257879e-14  -6544.695800   6.566293
39  40           NO  1000.0  6000.0  3.260606  1.191104e-03 -4.291705e-07  6.945767e-11 -4.033610e-15   9920.974600   6.369303
40  41          NO2  1000.0  6000.0  4.884754  2.172396e-03 -8.280691e-07  1.574751e-10 -1.051090e-14   2316.498300  -0.117417
41  42         HCNO   300.0  1382.0  2.647280  1.275053e-02 -1.047942e-05  4.414328e-09 -7.575215e-13  19299.025200  10.733297
42  43         HCNO  1382.0  5000.0  6.598605  3.027786e-03 -1.077043e-06  1.716665e-10 -1.014394e-14  17966.133900 -10.330660
43  44         HOCN   300.0  1368.0  3.786050  6.886679e-03 -3.214879e-06  5.171958e-10  1.193608e-14  -2826.984000   5.632922
44  45         HOCN  1368.0  5000.0  5.897849  3.167894e-03 -1.118011e-06  1.772431e-10 -1.043392e-14  -3706.533310  -6.181678
45  46         HNCO   300.0  1478.0  3.630963  7.302824e-03 -2.280500e-06 -6.612713e-10  3.622358e-13 -15587.363600   6.194577
46  47         HNCO  1478.0  5000.0  6.223951  3.178640e-03 -1.093788e-06  1.707352e-10 -9.950220e-15 -16659.934400  -8.382247
47  48          NCO  1000.0  6000.0  5.152184  2.305176e-03 -8.803315e-07  1.478910e-10 -9.097800e-15  14004.123000  -2.544266
48  49           CN  1000.0  6000.0  3.745980  4.345077e-05  2.970598e-07 -6.865181e-11  4.413417e-15  51536.188000   2.786760
49  50         HCNN  1000.0  5000.0  5.894636  3.989596e-03 -1.598238e-06  2.924940e-10 -2.009469e-14  53452.941000  -5.103050
50  51           N2  1000.0  5000.0  2.926640  1.487977e-03 -5.684760e-07  1.009704e-10 -6.753351e-15   -922.797700   5.980528
51  52           AR  1000.0  5000.0  2.500000  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00   -745.375000   4.366000
52  53         C3H8  1000.0  5000.0  7.534137  1.887224e-02 -6.271849e-06  9.147565e-10 -4.783807e-14 -16467.516000 -17.892349
53  54         C3H7  1000.0  5000.0  7.702699  1.604420e-02 -5.283322e-06  7.629859e-10 -3.939228e-14   8298.433600 -15.480180
54  55       CH3CHO  1000.0  6000.0  5.404111  1.172306e-02 -4.226314e-06  6.837245e-10 -4.098486e-14 -22593.122000  -3.480792
55  56       CH2CHO  1000.0  5000.0  5.975670  8.130591e-03 -2.743624e-06  4.070304e-10 -2.176017e-14    490.321800  -5.045251

# Question 2: `WHERE` Statements

1. Write a `Python` function `get_coeffs` that returns an array of 7 coefficients.  
   
   The function should take in two parameters: 1.) `species_name` and 2.) `temp_range`, an indicator variable ('low' or 'high') to indicate whether the coefficients should come from the low or high temperature range.  
   The function should use `SQL` commands and `WHERE` statements on the table you just created in Question 1 (rather than taking data from the XML directly).
```python
def get_coeffs(species_name, temp_range):
    ''' Fill in here'''
    return coeffs
```

2. Write a python function `get_species` that returns all species that have a temperature range above or below a given value. The function should take in two parameters: 1.) `temp` and 2.) `temp_range`, an indicator variable ('low' or 'high').

  When temp_range is 'low', we are looking for species with a temperature range lower than the given temperature, and for a 'high' temp_range, we want species with a temperature range higher than the given temperature.

  This exercise may be useful if different species have different `LOW` and `HIGH` ranges.

  And as before, you should accomplish this through `SQL` queries and where statements.

```python
def get_species(temp, temp_range):
    ''' Fill in here'''
    return coeffs
```

In [5]:
def get_coeffs(species_name, temp_range):
    query = '''SELECT COEFF_1, COEFF_2, COEFF_3, COEFF_4, COEFF_5, COEFF_6, COEFF_7
                FROM {} 
                WHERE SPECIES_NAME = "{}"'''.format(temp_range.upper(), species_name)
    coeffs = list(cursor.execute(query).fetchall()[0])
    return coeffs

In [6]:
get_coeffs('H', 'low')

[2.5,
 7.05332819e-13,
 -1.99591964e-15,
 2.30081632e-18,
 -9.27732332e-22,
 25473.6599,
 -0.446682853]

In [7]:
def get_species(temp, temp_range):
    if temp_range == 'low': # temp_range == 'low'
        query = '''SELECT SPECIES_NAME FROM {} WHERE TLOW < {}'''.format(temp_range.upper(), temp)
    else: # temp_range == 'high'
        query = '''SELECT SPECIES_NAME FROM {} WHERE THIGH > {}'''.format(temp_range.upper(), temp)
    species = []
    for s in cursor.execute(query).fetchall():
        species.append(s[0])
    return species

In [8]:
get_species(500, 'low')

['O',
 'O2',
 'H',
 'H2',
 'OH',
 'H2O',
 'HO2',
 'H2O2',
 'C',
 'CH',
 'CH2',
 'CH2(S)',
 'CH3',
 'CH4',
 'CO',
 'CO2',
 'HCO',
 'CH2O',
 'CH2OH',
 'CH3O',
 'CH3OH',
 'C2H',
 'C2H2',
 'C2H3',
 'C2H4',
 'C2H5',
 'C2H6',
 'CH2CO',
 'HCCO',
 'HCCOH',
 'H2CN',
 'HCN',
 'HNO',
 'N',
 'NNH',
 'N2O',
 'NH',
 'NH2',
 'NH3',
 'NO',
 'NO2',
 'NCO',
 'CN',
 'HCNN',
 'N2',
 'AR',
 'C3H8',
 'C3H7',
 'CH3CHO',
 'CH2CHO']

In [9]:
get_species(100, 'low')

[]

In [10]:
get_species(3000, 'high')

['O',
 'O2',
 'H',
 'H2',
 'OH',
 'H2O',
 'HO2',
 'H2O2',
 'C',
 'CH',
 'CH2',
 'CH2(S)',
 'CH3',
 'CH4',
 'CO',
 'CO2',
 'HCO',
 'CH2O',
 'CH2OH',
 'CH3OH',
 'C2H',
 'C2H2',
 'C2H3',
 'C2H4',
 'C2H5',
 'C2H6',
 'CH2CO',
 'HCCO',
 'HCCOH',
 'H2CN',
 'HCN',
 'HNO',
 'N',
 'NNH',
 'N2O',
 'NH',
 'NH2',
 'NH3',
 'NO',
 'NO2',
 'HCNO',
 'HOCN',
 'HNCO',
 'NCO',
 'CN',
 'HCNN',
 'N2',
 'AR',
 'C3H8',
 'C3H7',
 'CH3CHO',
 'CH2CHO']

In [11]:
get_species(3500, 'high')

['HCCO',
 'HCCOH',
 'H2CN',
 'HCN',
 'HNO',
 'N',
 'NNH',
 'N2O',
 'NH',
 'NH2',
 'NH3',
 'NO',
 'NO2',
 'HCNO',
 'HOCN',
 'HNCO',
 'NCO',
 'CN',
 'HCNN',
 'N2',
 'AR',
 'C3H8',
 'C3H7',
 'CH3CHO',
 'CH2CHO']

# Question 3: `JOIN` STATEMENTS

Create a table named `ALL_TEMPS` that has the following columns:

- `SPECIES_NAME`
- `TEMP_LOW`
- `TEMP_HIGH`

This table should be created by joining the tables `LOW` and `HIGH` on the value `SPECIES_NAME`.

In [12]:
# Create the table for ALL_TEMPS
cursor.execute("DROP TABLE IF EXISTS ALL_TEMPS")

cursor.execute('''CREATE TABLE ALL_TEMPS (
               id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
               SPECIES_NAME TEXT,
               TEMP_LOW REAL, 
               TEMP_HIGH REAL)''')
db.commit()

# Insert TEMP_LOW and TEMP_HIGH of all species to ALL_TEMPS
query = '''SELECT LOW.SPECIES_NAME, LOW.TLOW AS TEMP_LOW, HIGH.THIGH AS TEMP_HIGH
        FROM LOW
        INNER JOIN HIGH ON LOW.SPECIES_NAME = HIGH.SPECIES_NAME'''

for record in cursor.execute(query).fetchall():
    cursor.execute('''INSERT INTO ALL_TEMPS 
                  (SPECIES_NAME, TEMP_LOW, TEMP_HIGH)
                  VALUES (?, ?, ?)''', record)

In [13]:
ALL_TEMPS_cols = [col[1] for col in cursor.execute("PRAGMA table_info(ALL_TEMPS)")]
display(viz_tables(ALL_TEMPS_cols, '''SELECT * FROM ALL_TEMPS'''))

    id SPECIES_NAME  TEMP_LOW  TEMP_HIGH
0    1            O     200.0     3500.0
1    2           O2     200.0     3500.0
2    3            H     200.0     3500.0
3    4           H2     200.0     3500.0
4    5           OH     200.0     3500.0
5    6          H2O     200.0     3500.0
6    7          HO2     200.0     3500.0
7    8         H2O2     200.0     3500.0
8    9            C     200.0     3500.0
9   10           CH     200.0     3500.0
10  11          CH2     200.0     3500.0
11  12       CH2(S)     200.0     3500.0
12  13          CH3     200.0     3500.0
13  14          CH4     200.0     3500.0
14  15           CO     200.0     3500.0
15  16          CO2     200.0     3500.0
16  17          HCO     200.0     3500.0
17  18         CH2O     200.0     3500.0
18  19        CH2OH     200.0     3500.0
19  20         CH3O     300.0     3000.0
20  21        CH3OH     200.0     3500.0
21  22          C2H     200.0     3500.0
22  23         C2H2     200.0     3500.0
23  24         C2H3     200.0     3500.0
24  25         C2H4     200.0     3500.0
25  26         C2H5     200.0     3500.0
26  27         C2H6     200.0     3500.0
27  28        CH2CO     200.0     3500.0
28  29         HCCO     300.0     4000.0
29  30        HCCOH     300.0     5000.0
30  31         H2CN     300.0     4000.0
31  32          HCN     200.0     6000.0
32  33          HNO     200.0     6000.0
33  34            N     200.0     6000.0
34  35          NNH     200.0     6000.0
35  36          N2O     200.0     6000.0
36  37           NH     200.0     6000.0
37  38          NH2     200.0     6000.0
38  39          NH3     200.0     6000.0
39  40           NO     200.0     6000.0
40  41          NO2     200.0     6000.0
41  42          NCO     200.0     6000.0
42  43           CN     200.0     6000.0
43  44         HCNN     300.0     5000.0
44  45           N2     300.0     5000.0
45  46           AR     300.0     5000.0
46  47         C3H8     300.0     5000.0
47  48         C3H7     300.0     5000.0
48  49       CH3CHO     200.0     6000.0
49  50       CH2CHO     300.0     5000.0

1. Write a `Python` function `get_range` that returns the range of temperatures for a given species_name.

The range should be computed within the `SQL` query (i.e. you should subtract within the `SELECT` statement in the `SQL` query).
```python
def get_range(species_name):
    '''Fill in here'''
    return range
```

Note that `TEMP_LOW` is the lowest temperature in the `LOW` range and `TEMP_HIGH` is the highest temperature in the `HIGH` range.

In [14]:
def get_range(species_name):
    query = '''SELECT (TEMP_HIGH - TEMP_LOW) AS T_range FROM ALL_TEMPS WHERE SPECIES_NAME = "{}"'''.format(species_name)
    T_range = cursor.execute(query).fetchall()[0][0]
    return T_range

In [15]:
get_range('O')

3300.0

In [16]:
# Close the Database
db.commit()
db.close()